// ベースカラー
$base-color-600: #222222;
$base-color-500: #2F3131;
$base-color-400: #757575;
$base-color-300: #BDBDBD;
$base-color-200: #D2D1D1;
$base-color-100: #F4F4F4;
 
// メインカラー
$main-color: #33bffc;
$main-bg-color: #fff;
 
// サブカラー
$sub-color: #00a6fb;
 
// アクセントカラー
$accent-color-red-orange: #FF391A;

 
//　カテゴリーカラー
$category-rtype-color: #000;
 
//　無彩色（黒と白はblack,whiteで記述すること）
$non-colored-color-gray-600: #333;
$white: #fff;
$black: #000;


//用途に分けてパレットから代入
//header

