@import "color";
footer {
  clear: both;
  background: $base-color-100;
  margin-top: 20px;
  .footer-contents {
    overflow: auto;
    padding: 20px 50px;
    background-color: $base-color-100;
    border-top: 2px solid $base-color-300;
    text-align: center;
    .copyright {
      clear: both;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
