/* Sidebar */
.sidebar {
  display: inline-block;
  position: relative;
  float: left;
  width: 280px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 4px 8px 10px #888;
  nav.content {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    .logo {
      display: block;
      width: 70%;
      margin: 0 auto;
      padding: 50px 0;
      margin-bottom: 2rem;
    }
    .search-window {
      display: block;
      margin-bottom: 50px;
      position: relative;
      .searchform {
        margin:0 auto;
        width:250px;
        position:relative;
        .parts-search {
          height: 36px;
        }
        .search-input {
          border-radius:10px 0 0 10px;
          background:#dfdfdf;
          right:20%;
          transition:all 0.3s;
          width:20%;
          border:none;
          padding:6px;
          position:absolute;
          &:focus {
            width:80%;
            outline: none;
          }
        }

        .search-submit {
          border:none;
          outline: none;
          padding:10px;
          position:absolute;
          border-radius:0 10px 10px 0;
          background:#0E7AC4;
          color:#fff;
          font-family:FontAwesome;
          right:0;
          width:20%;
        }
      }
      .clearfix {
          &:after {
          content:"";
          clear:both;
          display:block;
        }
      }
    }
    .contents-list {
      width: 100%;
      margin-bottom: 50px;
      .site-map {
        margin: 0 auto;
        box-sizing: unset;
        padding: 0 10%;
        padding-top: 50px;
        font-weight: bold;
        font-size: 14px;
        h2 {
          color: #0068b7;
          margin-bottom: 10px;
          padding-bottom: 0px;
          border-bottom: 2px solid #0068b7;
          text-align: left;
          &:before {
            display: block;
            float: left;
            margin-top: 4px;
            margin-right: 15px;
            content: '　';
            height: 1em;
            width: 1em;
            background: #0068b7;
          }
        }
        ul {
          margin-bottom: 20px;
          text-align: left;
          li {
            font-size: 18px;
            display: block;
            font-weight: bolder;
            margin-bottom: 5px;
            margin-left: 20px;
            &:before {
              content: '>';
              color: #0068b7;
              font-weight: bold;
              font-size: 14px;
              line-height: 1em;
              background: none;
              margin-right: 10px;
            }
            a {
              text-decoration: none;
              color: #444;
            }
          }
        }
      }
      .twitter {
        width: 100%;
        h3{
          width: 80%;
          text-align: center; 
          margin-bottom: 10px;
          border-bottom: 2px solid #0068b7;
        }
        img {
          width: 40%;
        }
      }
    }
    .lecture-cancellation, .assistance {
      text-align: center;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        width: 100px;
      }
      .lecture {
        ul {
          list-style: none;
        }
        h2 {
          font-size: 16px;
        }
      }
      .lecture-date {
        text-align: left;
        .lecture-data {
          text-align: right;
          font-size: 14px;
        }
      }
    }
    .category{
      width: 80%;
      margin: 0 auto;
      .side-title{
        text-align: center; 
        margin-bottom: 10px;
        border-bottom: 2px solid #0068b7;
      }
    }
    .post-categories {
      margin: 5px;
      li{
        display: inline-block;
        padding: 2px 0;
        margin: 5px;
        font: normal normal 500 13px/20px YuGothic,Hiragino Kaku Gothic ProN,-apple-system,BlinkMacSystemFont,Meiryo,sans-serif;
        border-radius: 6px;
        color: #fff;
        border: 0;
        background-color: #35a8ff;
        a {
          display: inline-block;
          padding-left: 20px;
          color: inherit;
          text-decoration: none;
          background-color: transparent;
          &:not(:last-child):after {
            content:' |';
            padding-left: 19px;
          }
          &:last-child {
            padding-right: 20px;
          }
        }
      }
    }
    .recruitment {
      text-align: center;
      margin-top: 80px;
      padding-bottom: 80px;
      button {
        width: 90%;
        height: 70px;
        font-size: 26px;
        font-weight: bolder;
        background-color: #35a8ff;
        color: #fff;
        border-radius: 8px;
        outline: none;
        box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all ease-in-out 300ms;
        &:hover {
          box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
          transform: translate(0, -5px);
        }
        &:active {
          box-shadow: 0 27px 15px -15px rgba(0, 0, 0, 0.4);
        }
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
