@mixin breakpoint ($value) {
  @if $value == 'phone' {
    @media only screen and (min-width: 120px) and (max-width: 767px) { @content; }
  } @else if $value == 'tablet' {
    @media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
  } @else if $value == 'touch' {
    @media only screen and (min-width: 120px) and (max-width: 1024px) { @content; }
  } @else if $value == 'desktop' {
    @media only screen and (min-width: 1025px) { @content; }
  } @else {
    @media only screen and (max-width: $value) { @content; }
  }
}
/* Main */
.topics {
  float: left;
  width: 75%;
  .topic-contents {
    text-align: left;
    margin-top: 20px;
    .topic-content {
      position: relative;
      display: inline-block;
      width: 280px;
      height: 340px;
      margin: 0 0 20px 20px;
      .topic-data {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 4px 4px 8px #888;
        .post-thumbnail {
          display: block;
        }
        .post-title {
          padding: 0 20px;
          margin: 8px 0;
          font: normal normal 700 15px/20px YuGothic,Hiragino Kaku Gothic ProN,-apple-system,BlinkMacSystemFont,Meiryo,sans-serif;
        }
        .post-excerpt {
          padding: 0 20px;
          overflow-y: hidden;
          line-height: 1.25;
          font: normal normal 500 13px/18px YuGothic,Hiragino Kaku Gothic ProN,-apple-system,BlinkMacSystemFont,Meiryo,sans-serif;
        }
        .post-date {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 30px;
          padding: 0 20px;
          font: normal normal 500 13px/30px YuGothic,Hiragino Kaku Gothic ProN,-apple-system,BlinkMacSystemFont,Meiryo,sans-serif;
          color: #6a6a6a;
          text-align: right;
          background-color: #fff;
        }
      }
      .post-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .post-categories {
        position: absolute;
        bottom: 155px;
        right: 0px;
        padding: 0;
        margin: 5px;
        .post-category {
          display: inline-block;
          padding: 2px 0;
          margin: 5px;
          font: normal normal 500 13px/20px YuGothic,Hiragino Kaku Gothic ProN,-apple-system,BlinkMacSystemFont,Meiryo,sans-serif;
          border-radius: 6px;
          color: #fff;
          border: 0;
          background-color: #35a8ff;
          a {
            display: inline-block;
            padding: 0 20px;
            color: inherit;
            text-decoration: none;
            background-color: transparent;
          }
        }
      }
    }
  }

  .pagination-wrapper {
    text-align: center;
    margin: 40px 0;
  }

  .pagination {
  	display: inline-block;
  	height: 70px;
  	margin-top: 70px;
  	padding: 0 25px;
  	border-radius: 35px;
  	background-color: #fff;
    box-shadow: 0 27px 15px -15px rgba(0, 0, 0, 0.2);

  	@include breakpoint(1000px) {
  		height: 50px;
  		margin-top: 50px;
  		padding: 0 10px;
  		border-radius: 25px;
  	}
    a {
      text-decoration: none;
    }
  }

  .page-numbers {
  	display: block;
  	padding: 0 20px;
  	float: left;
  	transition: 400ms ease;
  	color: #595959;
  	font-size: 18x;
  	letter-spacing: 0.1em;
  	line-height: 70px;

  	&:hover,
  	&.current {
  		background-color: #35a8ff;
  		color: #fff;
  	}

  	&.prev:hover,
  	&.next:hover {
  		background-color: transparent;
      color: #35a8ff;
  	}

  	@include breakpoint(1000px) {
  		padding: 0 15px;
  		font-size: 16px;
  		line-height: 50px;
  	}

  	@include breakpoint(touch) {
  		padding: 0 14px;
  		display: none;

  		&:nth-of-type(2) {
  			position: relative;
  			padding-right: 50px;

  			&::after {
  				content: '...';
  				position: absolute;
  				font-size: 25px;
  				top: 0;
  				left: 45px;
  			}
  		}

  		&:nth-child(-n+3),
  		&:nth-last-child(-n+3) {
  			display: block;
  		}

  		&:nth-last-child(-n+4) {
  			padding-right: 14px;

  			&::after {
  				content: none;
  			}
  		}
  	}
  }
}
/*pagenation*/


.navigation ul {
    display: block;
    text-align: center;

    li {
        display: inline;

        a,
        a:hover,
        &.active a,
        &.disabled {
            display: inline-block;
            color: #fff;
            text-decoration:none;
            background-color: #6FB7E9;
            border-radius: 3px;
            cursor: pointer;
            padding: 12px;
            padding: 0.75rem;
        }

        a:hover,
        &.active a {
            background-color: #3C8DC5;
        }
    }
}
