/* Main */
.main-contents {
  float: left;
  width: 75%;
  .main-content {
    width: 100%;
    min-height: 996px;
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 8px 10px 18px -10px rgba(0,0,0,0.75);
    // filter: drop-shadow(0px 3px 10px rgba(0,0,0,.8));
    h2 {
      text-align: left;
      padding: 0.25em 0.5em;
      margin: 20px 0 30px 0;
      color: #494949;
      border-left: solid 5px #0068b7;
    }
    p {
      margin-bottom: 10px;
      line-height: 2;
    }
    .content {
      margin-bottom: 50px;
      .content-child {
        h2 {
          border: none;
          font-size: 18px;
          vertical-align: baseline;
          font-weight: bold;
          &:before {
            content: '>';
            color: #0068b7;
            font-weight: bold;
            font-size: 20px;
            line-height: 1em;
            background: none;
            margin-right: 10px;
          }
        }
        p {
          margin-left: 15px;
        }
      }
      &:first-child {
        margin-top: 50px;
      }
      &:last-child {
        margin-bottom: 100px;
      }
    }
  }
}
