body{
    background:#eeeeee;
}
.main{
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center; 
}
.container,.topic-container{
    margin: auto;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.post, .topic-post{
    position: relative;
    background:#ffffff;
    padding: 0px;
    margin: 30px;
    width: 250px;
    height: 320px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px #aaaaaa;
    transition: .1s;
}
.post-image img{
    width:250px;
    height:200px;
    object-fit: cover;
}
h3{
    margin: 0 10px;
}
h3 a{ 
    word-break: normal;
    text-decoration :none;
    color:#444444;
} 
h3 a:hover{
    color:#222222;
}
.post-meta{
    margin: 5px;
    display:flex;
    justify-content:space-between;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

}
.post-meta .category{
    width: 50%;
}
.post-meta .category a{
    color: #555555;
    text-decoration: none;
    
}
.post-meta .category a:hover {
    color:#333333;
}
.post-meta .data-time{
    color:#808080;
    width: 50%; 
    position: absolute;
    bottom: 0;
    right: 0;
}
.navigation{
    margin: 5px;
    display:flex;
    justify-content: space-around;
}
.screen-reader-text{
    display: none;
}
.nav-links a{
    direction: none;
    border-radius: 1px #000;
}

.pick-up img{
    position: absolute;
    top: -30px;
    right: -30px;
}