.container{
    display:block;
}
.posts{
    background: #ffffff;
    padding: 35px 50px;
    margin: auto;
    width: 600px;
    min-width: 300px;
    min-height: 400px;
}
.single-post-header h3{
    margin: 0;
    padding: 0;
    border-left: solid 10px #80B8F5; 
}
.single-post-header .single-post-meta{
    font-size: 13px;
}
.single-post-conternt{
    margin-top: 30px;
}
/*pagenation*/
.navigation{
    display:block;
    margin: 20px;
    align: center;
    text-align: center;
}
.navigation div a,
.navigation div a:hover{
    color: #fff;
    text-decoration:none;
}
 
.navigation div {
    display: inline-block;
}
 
.navigation div a,
.navigation div a:hover{
    background-color: #6FB7E9;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
    
 
.navigation div a:hover{
    background-color: #3C8DC5;
}